$main-color: #264863;
$second-color: #427D9D;
$third-color: #9BBEC8;
$B-G: #DDF2FD;
$color-font: black;
$font: 'Roboto-Regular', sans-serif;


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../asset/AO Mono/AOMono-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
// style.scss

// .app {
//   border: 5px solid $main-color;
//   border-radius: 10px;
//   max-height: 800px;
//   max-width: 600px;
//   margin: 0 auto;
// }
body {
    margin: 0;
    padding: 0;
    background-color: $third-color;
    font-family: $font;
    display: flex; /* Utilisez Flexbox pour centrer verticalement et horizontalement */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    min-height: 100vh; /* Garantit que le conteneur occupe au moins 100% de la hauteur de la vue */
  }
  
  /* ... le reste de votre style ... */
  

.header {
    display: flex;
    align-items: center;
    background-color: $second-color;
    height: 50px;
    border-radius: 5px;

}
  
  .root {
    
    margin: 0 auto; // Centrer le contenu de l'application horizontalement
  }
  
  .form {
    background-color: $B-G; // Couleur de fond du formulaire
    padding: 5px; // Espace intérieur du formulaire
    margin: 10px; // Marge autour du formulaire
    border-radius: 10px; // Coins arrondis du formulaire
  }
  

  .button {
    background-color: $main-color;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
    &:hover {
      background-color: lighten($main-color, 10%); // Changez la couleur au survol, vous pouvez ajuster le pourcentage
    }
  
    &:active {
      background-color: darken($main-color, 10%); // Changez la couleur au clic, vous pouvez ajuster le pourcentage
    }
  }
  


